.sidebar {
  width: 260px;
  max-width: 260px;
  background-color: #283046;
  min-height: 100vh;

  &__logo {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;

    picture {
      display: inline-block;
      width: 40px;
      height: 28px;

      img {
        max-width: 100%;
        vertical-align: bottom;
      }
    }

    h2 {
      margin: 0;
      color: white;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .navigation {
    font-size: 1.1rem;
    max-height: calc(100vh - 80px);
    overflow: auto;
  }
}
