<div class="sidebar">
  <div class="sidebar__logo">
    <picture>
      <img src="assets/images/logo.svg" alt="Logo" />
    </picture>
    <h2>Vuexy</h2>
  </div>
  <ul class="navigation">
    <ng-container *ngFor="let section of menu">
      <li
        sidebar-section
        *ngIf="section.sectionName"
        [sectionName]="section.sectionName"
      ></li>
      <li
        sidebar-item
        routerLinkActive="navigation__link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngFor="let item of section.sectionItems; let i = index"
        (onSelectedItem)="itemSelected(i)"
        [item]="item"
      >
        <a [routerLink]="item.route" class="d-none"></a>
      </li>
    </ng-container>
  </ul>
</div>
